<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/inputnumber.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>购物车</title>
  </head>
  <body>
    <div class="app-container" id="app">
      <!-- 顶部banner -->
      <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
      <!-- 面包屑 -->
      <div class="breadcrumb">
        <span>🏠</span>
        /
        <span>购物车</span>
      </div>
      <!-- 购物车主体 -->
      <div class="main" v-if="fruitList.length>0">
        <div class="table">
          <!-- 头部 -->
          <div class="thead">
            <div class="tr">
              <div class="th">选中</div>
              <div class="th th-pic">图片</div>
              <div class="th">单价</div>
              <div class="th num-th">个数</div>
              <div class="th">小计</div>
              <div class="th">操作</div>
            </div>
          </div>
          <!-- 身体 -->
          <div class="tbody">
            <div class="tr" v-for="(item,index) in fruitList" :class="{active:item.isChecked}"  :key="item.id" >
              <div class="td"><input type="checkbox" v-model="item.isChecked" /></div>
              <div class="td"><img :src="item.icon" alt="" /></div>
              <div class="td">{{item.price}}</div>
              <div class="td">
                <div class="my-input-number">
                  <button class="decrease" @click.prevent="sub(item.id)" :disabled="item.num<=1"> - </button>
                  <span class="my-input__inner">{{item.num}}</span>
                  <button class="increase" @click.prevent="add(item.id)"> + </button>
                </div>
              </div>
              <div class="td">{{item.price*item.num}}</div>
              <div class="td"><button @click.prevent="del(item.id)">删除</button></div>
            </div>

          </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
          <!-- 全选 -->
          <label class="check-all">
            <input type="checkbox" v-model="isAll"/>
            全选
          </label>
          <div class="right-box">
            <!-- 所有商品总价 -->
            <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{allPrice}}</span></span>
            <!-- 结算按钮 -->
            <button class="pay">结算( {{allCount}} )</button>
          </div>
        </div>
      </div>
      <!-- 空车 -->
      <div class="empty" v-else>🛒空空如也</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          // 水果列表
          fruitList: [
            {
              id: 1,
              icon: './img/火龙果.png',
              isChecked: true,
              num: 2,
              price: 6,
            },
            {
              id: 2,
              icon: './img/荔枝.png',
              isChecked: false,
              num: 7,
              price: 20,
            },
            {
              id: 3,
              icon: './img/榴莲.png',
              isChecked: false,
              num: 3,
              price: 40,
            },
            {
              id: 4,
              icon: './img/鸭梨.png',
              isChecked: true,
              num: 10,
              price: 3,
            },
            {
              id: 5,
              icon: './img/樱桃.png',
              isChecked: false,
              num: 20,
              price: 34,
            },
          ],
          
        },

        methods:{
          
          del(id){
            this.fruitList=this.fruitList.filter(item=>item.id!==id)
          },
          add(id){
            obj=this.fruitList.find(item=>item.id===id)
            obj.num++
          },
          sub(id){
            this.fruitList.forEach(element => {
              if(element.id===id){
                if(element.num>0)
                element.num--
                else
                alert("你做了错误的选择")
              }
             
            })
          }
        },
        computed:{
          //这个全选按钮与v-model绑定，因为默认计算属性只能获取不能设置，要设置需要写完整写法
          allCount(){
            return this.fruitList.reduce((pre,now)=>{
                    if(now.isChecked)
                    return pre+now.num
                    else
                    return pre
                  },0)
          },
          allPrice(){
            return this.fruitList.reduce((pre,now)=>{
                if(now.isChecked)
                return pre+now.price*now.num
                else
                return pre
            },0)
          },

          isAll:{
            //get逻辑与正常需要获取一样
            get(){
              // if(this.fruitList.find(item=>item.isChecked===false))
              //   return false
              // else return true
              return this.fruitList.find(item=>item.isChecked===false)?false:true
            },
            //当在页面进行更改时需要进行的业务逻辑
            set(value){
              this.fruitList.forEach(item=>item.isChecked=value)
            }
            
          }
        }
      })
    </script>
  </body>
</html>
