.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body{
    background:#f3f5f7;
}



/* 导航区 */
.header{
    height:100px ;
    background: #fff;;
}

.header .wrapper{
    display: flex;
    padding-top: 29px;
}

.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    /* 隐藏文字 */
    font-size: 0;
}

.nav ul{
    width: 360px;
    display: flex;
    justify-content: space-evenly;
}

.nav ul a{
    display: block;
    width: 65px;
    text-align: center;
    line-height: 41px;
}

.nav li .active,
.nav a:hover{
    border-bottom:2px solid #00a4ff;

}

.search{
    display: flex;
    width: 412px;
    height: 40px;
    border:1px solid #00a4ff;
    border-radius: 20px;
    margin-left: 40px;
    padding-left: 10px;
}

.search input{
    flex:1;
    line-height: 40px;
    padding-left: 10px;
    background-color: transparent;
}

.search a{
    display: block;
    width: 51px;
    height: 40px;
    background-image: url(../images/btn.png);
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header .user img{
    margin-left: 30px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.header .user span{
    font-size: 16px;
    color: #666;
    vertical-align: middle;
}


/* banner区 */
.banner{
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper{
    background-image: url(../images/banner.png);
    width: 1200px;
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.banner .left{
    width: 190px;
	height: 420px;
    
    background-color: rgba(0,0,0,0.42);
}


.banner .left li{
    display: flex;
    padding: 3px 20px;
    justify-content: space-between;
    cursor: pointer;
}


.banner .left a{
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left span{
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left li:hover a,
.banner .left li:hover span
{
    color: #00a4ff;
}



/* 精品推荐 */
.recommend .wrapper{
    display: flex;
    height: 60px;
    background-color: #fff;
    margin-top: 8px;
    padding: 0 20px;
    line-height: 60px;
    box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2)
}

.recommend .wrapper h3{
    font-size: 16px;
    margin-right: 35px;
    font-weight: 400;
}

.recommend .wrapper ul{
    display: flex;
    /* 把修改兴趣挤到右边了 */
    flex:1;
}

.recommend .wrapper ul a{
    border-left: 1px solid #bfbfbf;
    padding: 0 34px;
}

.recommend .wrapper .modify{
    font-size: 14px;
}

/* 精品推荐li */
.course{
    margin-top: 15px;
}

.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3{
    font-weight: 400;
    font-size: 16px;
}

.hd .all{
    color: #666;
    font-size: 12px;
}


.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bd li{
    width: 228px;
    height: 271px;
    background-color: #fff;
    margin-bottom: 14px;
}

.bd img{
    height: 156px;
    width: 228px;
}

.bd h3{
    
    font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 20px;
    padding: 20px;
    color: #050505;

}

.bd p span{
    
    color: #1c036c;
}

.bd p{
    padding-left: 20px;
    color:#666;
    font-size: 14px;
}

/* 编程入门 */
/* 公用一下hd */


.hd .rate{
    display: flex;
    justify-content: space-between;
    width: 338px;
}

.hd .rate a{
    color: #666;
    font-size: 14px;
}

.hd .rate a:hover{
    color: #00a4ff;
}

.low{
    height: 392px;
    display: flex;
    justify-content: space-between;
}

.low .left{
    width: 228px;
    height: 392px;
    background-image: url(../images/php1.png);
}

.low .right{
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.low .up{
    height: 100px;
    width: 957px;
    background-image: url(../images/python1.png);
    margin-bottom: 21px;
}




/* 版权区域 */
.footer{
    
    height: 417px;
    background: #fff;
    padding-top: 33px;
    margin-top: 42px;
    
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .left{
    width: 426px;
}

.footer .left p{
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

.footer .left img{
    margin-bottom: 26px;
}

.footer .left  a{
    margin-top: 15px;
    display: block;
    width: 120px;
	height: 36px;
	border: solid 1px #00a4ff;
    color: #00a4ff;
}

.footer .left .download{
    
    font-size: 16px;
    text-align: center;
    
    line-height: 36px;
}

.footer .right{
    display: flex;
    width: 535px;
    margin-right:  32px;
    justify-content: space-between;
    
}

.footer .right h4{
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.footer .right li a{
    font-size: 12px;
    color: #333333;
}
